@import "tailwindcss";
@custom-variant light (&:where(.light, .light *));

.custom-scroll::-webkit-scrollbar {
    display: none;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(107, 114, 128, 0.7);
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

@theme{
      --color-primary: #D1F8EF;
      --color-secondary: #A1E3F9;
      --color-txPrimary: #3674B5;
      --color-txSecondary: #578FCA;
}